/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Colors - to use do var(--background), var(--button), etc. */
    --background:#041B15;
    --element:#22AAA1;
    --text:#4CE0D2;
    --spare1:#84CAE7; 
    --spare2:#C7A685;
    --spare3:#136F63;
}

body {
    background-color: var(--background);
    margin: 0;
    font-family: 'Raleway';
}

.navDiv{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    
}

.requestDiv {
    display: flex;
    justify-content: center;
}

.header {
    color: var(--text);
    font-size:50px;
    margin:10px;
    display:flex;
    position:absolute;

}

.mainHeader {
    color: var(--text);
    font-size:50px;
    display:flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom:-50px;
}

.mainSubHeader{
    color:var(--text);
    font-size:40px;
    justify-content: center;
    display:flex;
}

.mainInformation {
    margin-bottom:100px;
    display:flex;
    justify-content: center;
    color:var(--text);
    opacity:0;
    transform:translateY(20px);
    visibility: hidden;
    transition: opacity 1s ease-out, transform 0.6s ease-out;
}

.mainInformation.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

#button{
    margin-top:300px;
    width: 150px;
    height:40px;
    padding:10px;
    margin:10px;
    line-height:35px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition:0.5s;
    font-size:23px;
}

#aboutLabel{
    margin-top:300px;
    margin-bottom:-90px;
    font-size:50px;
    text-align:center;
}

#aboutPara{
    margin-bottom: 150px;
    font-size:20px;
    text-align:center;
}

#button:hover{
    width:160px;
    height:41px;
    font-size:23px;
    background-color: var(--element);
    color:var(--spare3);
}

#aiTestButton, 
#logInButton,
#nav3 {
    width:400px;
    height:40px;
    border-radius:5px;
    background-color:var(--element);
    padding:10px;
    margin:10px;
    margin-top:20px;
    line-height: 33px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: 0.5s;
    font-size:20px;
    font-style: none;
    color: black;
    text-decoration: none;
}

#getButton, 
#postButton {
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: var(--element);
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    line-height: 100px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
}

#aiTestButton:hover,
#logInButton:hover {
    width: 410px;
    height:41px;
    font-size:23px;
}

#getButton:hover,
#postButton:hover {
    width: 210px;
    height: 101px;
    font-size: 23px;
}


.responseDiv {
    display: flex;
    justify-content: center;
}

#response {
    color: var(--label);
}

.bottomBar {
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color:var(--element);
        padding: 10px;
        overflow: hidden;
        z-index: 1;
        justify-content: space-between;
}

#names {
    margin-right: 20px;
}
